[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/box2d"]
	path = vendor/box2d
	url = https://github.com/erincatto/box2d.git
